/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #eaf6ea;
  color: #333;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 0 0 5px #aaa;
  position: relative;
  z-index: 1;
}